.solution {  
  &-section {
    padding: 120px 0 100px 0;
    @include d(1500) {
      padding: 80px 0;
    }
    @include d(1200) {
      padding: 60px 0; 
    }
    .decor {
      top: 50%;
      right: -20%;
      max-width:  760px;
      width: 50vw;
      transform: translate(0,-50%);
      @include d(768) {
        width: 100vw;
      }
    }
    .page-article__content {
      padding-top: 40px;
      margin-right: -40px;
      @include d(1200) {
        margin-right: 0;
      }
    }
  }
  &__img {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    left: 30px;
  }
}