<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="/" class="logo">
            <img src="img/png/logo.png" alt="bossLogics">
          </a>
          <div class="header-content">
            <nav class="nav">
              <ul class="nav-list">
                <li><a href="solutions.html">Solutions</a></li>
                <li><a href="together.html">Together</a></li>
                <li><a href="customers.html">Customers</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="contacts.html">Contact</a></li>
              </ul>
            </nav>
            <ul class="social-list js-social">
              <li>
                <a href="https://www.facebook.com/" target="_blank">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook">
                    </use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter">
                    </use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#instagram">
                    </use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin">
                    </use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <button class="humburger js-humburger">
            <span class="humburger-item"></span>
            <span class="humburger-item"></span>
            <span class="humburger-item"></span>
            <span class="humburger-item"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>