<!-- start modal -->
<div class="modal-overlay"></div>

<div class="modal" id="modal">
  <button class="modal-close">
    <img src="img/png/close.png" alt="close">
  </button>
  <div class="modal-logo">
    <img src="img/png/logo.png" alt="bossLogics">
  </div>
  <div class="modal__content">
    <h3 class="modal-title">Thanks for contacting us!</h3>
    <p>We've received your inquiry and we'll be in touch soon</p>
  </div>
</div>

<div class="modal" id="modal">
  <button class="modal-close">
    <img src="img/png/close.png" alt="close">
  </button>
  <div class="modal-logo">
    <img src="img/png/together-logo.png" alt="bossLogics">
  </div>
  <div class="modal__content">
    <h3 class="modal-title">Thanks for contacting us!</h3>
    <p>We've received your <strong>together</strong> account activation request. We'll be in touch shortly to activate it.</p>
  </div>
</div>
<!-- end modal -->